.bi::before, [class*=" bi-"]::before, [class^=bi-]::before{
    line-height: revert !important; 
}
table th{
    text-align: center !important;
}

div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.disabled:hover,
div.dt-container .dt-paging .dt-paging-button.disabled:active {
    cursor: default;
    color: white !important; /* Change this to your desired color */
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}


.rounded-2 {
    border-radius: 15px!important;
}

.rounded-3{
    border-radius: 15px!important;
}
.p-3{
    border-radius: 15px!important;
}